.header {
  font-family: "Merriweather", serif "ZCOOL XiaoWei", serif;
}

.category {
  font-family: "Libre Franklin", sans-serif;
}

.drawer {
  width: 240px;
}

.main {
  margin-left: 300px;
  margin-top: 10px;
  text-align: center;
  margin-right: 20px;
}

p {
  font-size: 15px;
  font-family: "Noto Sans SC", sans-serif;
}
